<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span>
      </a>
    </div>

    <!-- Ventas - para admin o usuarios con permiso manage-products -->
    <div *ngIf="hasRole('Admin') || hasPermission('manage-products')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="graph" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/sales/list">Ventas
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/sales/list">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Listado
            </span>
          </a>
        </div>
        
      </div>
    </div>

    <!-- Cupones - para admin -->
    <div *ngIf="hasRole('Admin')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="abstract-26" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/cupones/list">Cupones
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/cupones/list">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Listado
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Descuentos - para admin -->
    <div *ngIf="hasRole('Admin')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="abstract-15" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/discount/list">Descuentos
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/discount/list">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Listado
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Configuraciones</span>
      </div>
    </div>

    <!-- Gestión de Usuarios - solo para administradores o usuarios con permiso manage-users -->
    <div *ngIf="hasRole('Admin') || hasPermission('manage-users')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="profile-circle" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/apps/users">Gestión de Usuarios
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/users">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Usuarios</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/roles">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Roles</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/permissions">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Permisos</span>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Gestión de Productos - para usuarios con permiso manage-products o manage-own-products o admin -->
    <div *ngIf="hasRole('Admin') || hasAnyPermission(['manage-products', 'manage-own-products'])" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="element-plus" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/crafted/pages/products">Gestión de Productos
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/products/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Productos</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/products/register">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Crear Producto</span>
          </a>
        </div>
        <!-- Solo mostrar estas opciones para administradores -->
        <div *ngIf="hasRole('Admin') || hasPermission('manage-products')" class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/categories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Categorías</span>
          </a>
        </div>
        <div *ngIf="hasRole('Admin') || hasPermission('manage-products')" class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/brands">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Marcas</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Sliders - para admin -->
    <div *ngIf="hasRole('Admin')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="picture" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/sliders/list">Sliders
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/sliders/list">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Listado
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Marketing - para admin -->
    <div *ngIf="hasRole('Admin')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="rocket" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/marketing">Marketing
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/marketing/campaigns">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Campañas</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/marketing/newsletter">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Newsletter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
